<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT portfolio_item ANY>
<!ATTLIST portfolio_item id ID #REQUIRED>
<!ELEMENT portfolio ANY>
<!ATTLIST portfolio id ID #REQUIRED>
<!ELEMENT cONTACTS ANY>
<!ATTLIST cONTACTS id ID #REQUIRED>
<!ELEMENT aBOUTUS ANY>
<!ATTLIST aBOUTUS id ID #REQUIRED>
<!ELEMENT bLOG ANY>
<!ATTLIST bLOG id ID #REQUIRED>
<!ELEMENT blogItem ANY>
<!ATTLIST blogItem id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT improvePacketForm ANY>
<!ATTLIST improvePacketForm id ID #REQUIRED>
<!ELEMENT misc ANY>
<!ATTLIST misc id ID #REQUIRED>
<!ELEMENT banner ANY>
<!ATTLIST banner id ID #REQUIRED>
<!ELEMENT customerReview ANY>
<!ATTLIST customerReview id ID #REQUIRED>
<!ELEMENT discoverWhatIsPossible ANY>
<!ATTLIST discoverWhatIsPossible id ID #REQUIRED>
<!ELEMENT potential_Customer ANY>
<!ATTLIST potential_Customer id ID #REQUIRED>
<!ELEMENT stepProcess ANY>
<!ATTLIST stepProcess id ID #REQUIRED>
<!ELEMENT packages ANY>
<!ATTLIST packages id ID #REQUIRED>
<!ELEMENT process ANY>
<!ATTLIST process id ID #REQUIRED>
]>
<root id="-1">
  <home id="1074" key="f95c7ce0-c5ec-46a8-b9c4-38e4af86654e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-19T20:22:54" updateDate="2018-05-19T20:22:54" nodeName="HOME" urlName="home" path="-1,1074" isDoc="" nodeType="1066" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1052" nodeTypeAlias="home" isPublished="true">
    <aBOUTUS id="1080" key="2e0c85ef-3dd2-4cbb-b349-de25501c6368" parentID="1074" level="2" creatorID="0" sortOrder="0" createDate="2018-05-19T20:31:57" updateDate="2018-05-19T20:38:56" nodeName="ABOUTUS" urlName="aboutus" path="-1,1074,1080" isDoc="" nodeType="1063" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1053" nodeTypeAlias="aBOUTUS" isPublished="true">
      <aboutUsItem><![CDATA[<div id="x-content-band-2" class="x-content-band vc man">
<div class="x-container max width wpb_row">
<div class="x-column x-sm vc x-2-3">
<h4><strong><img style="width: 0px; height: 0px;" src="/nothing.jpg" alt="" data-udi="umb://media/2adc3db2887543fb90fee85e133d3bc9" />WHAT WE BELIEVE IN</strong><span></span><span></span></h4>
<p><span class="image_left"><img style="width: 333.3333333333333px; height: 500px;" src="/media/1015/img_1068-1.jpg?width=333.3333333333333&amp;height=500" alt="" data-udi="umb://media/2adc3db2887543fb90fee85e133d3bc9" /></span></p>
<p><span>We have noticed a huge shift in th</span></p>
<p><span>e design industry recently, one where design has become very popular.</span></p>
<p><span>Talented designers ( we weren’t an exception some time ago <img class="emoji" src="https://s.w.org/images/core/emoji/2.4/svg/1f642.svg?width=23&amp;height=23" alt="🙂" width="23" height="23" /> ) have the same mindset as artists. They create beautiful pieces of art (called your interior) and feel very let down when someone less knowledgeable comes along and tries to correct it but ruins the whole concept.</span></p>
<p><span>This actually feels like a national disaster to them!</span></p>
<p><span>To be an artist is great because you can sell your pieces of artwork for the going rate of a new car! But when it comes to creating a custom space for a busy family, where the house is organised, comfortable and beautiful, there is a conflict to justify the price. It’s all about understanding the value differently (the artwork for some and simple beauty with comfort for others)</span></p>
<p><span>Coming back to the topic of design popularity, we were trying to shift our mindset of how Interior Designers work with their clients today. They should not be seen as just being an artist but more of a consultant that can offer advice and then allow their client to make their own choices.</span></p>
<p><span>You can call them a co-author, the person helping their client verbalise and visualise their ideal interior space. They match together chosen or existing pieces while balancing creativity and professionalism. Using other people’s “ingredients” in what we call the “sauce cooker”. It’s like creating a recipe with whatever ingredients you are given and then learning to make a magical dish that is both TASTEFUL and FLAVOURSOME.</span></p>
</div>
</div>
</div>
<div id="x-content-band-3" class="x-content-band vc man">
<div class="x-container max width wpb_row">
<div class="x-column x-sm vc x-1-1">
<h4><strong>HOW IT ALL STARTED. </strong></h4>
<p><span>While working as independent interior designers, a friend of ours needed our help. She had bought a small but lovely flat in Marylebone, hired a building team and everything seemed to be very promising in the beginning.</span></p>
<p><span>There was the excitement related to the new acquisition, a new hope for her future quality of life. Wind of creativity, when sourcing for inspirations. We’ve all been there?</span></p>
<p><span>But suddenly what should have been a pleasurable experience turned out being a torturous one and depression soon replaced her excitement.  Why?</span></p>
<p><span>Her choices were endless<em>…” What to pick? And will they go together? Where do I source them? And most importantly where do I find the time to do all of this?”</em></span></p>
<p><span>She was concerned about so many things… <em>“How am I supposed to enjoy my home improvement at all when I can’t relax? I have so many unresolved decisions to make that are just backlogging in an endless queue!   I must give notice to my landlord and I am supposed to be moving in, in 3 weeks. But I can’t actually stay on because the mortgage and the rent together do not fit my pocket anymore”</em></span></p>
<p><span>We faced a very big challenge. Her budget = £600 –“<em>that is all I can pay you ladies. Please help me”.</em></span></p>
<p><span>What could we do with £600? This seemed ridiculous. (We priced as everyone else did at that time hourly or by square meter).</span></p>
<p><span>But then our mindset changed… Perhaps we should try? We simply need to create a solution for £600.</span></p>
<p><span>And we did.</span></p>
<p><span>Now we can confidently say no matter what the challenge is, there is always a solution.</span></p>
<p> </p>
<p><span>Yours truly,</span></p>
<p> </p>
<p><img class="alignnone wp-image-5757" src="https://krikla.com/wp-content/uploads/2018/04/Dasha-Olga-Signature-300x97.png" alt="" width="232" height="75" /></p>
</div>
</div>
</div>]]></aboutUsItem>
      <hideInNavigation>1</hideInNavigation>
    </aBOUTUS>
    <process id="1081" key="de92d5a6-36c7-463a-8aed-b7d6ae1469ae" parentID="1074" level="2" creatorID="0" sortOrder="1" createDate="2018-05-19T20:32:15" updateDate="2018-05-19T20:36:37" nodeName="PROCESS" urlName="process" path="-1,1074,1081" isDoc="" nodeType="1079" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1061" nodeTypeAlias="process" isPublished="true">
      <hideInNavigation>1</hideInNavigation>
    </process>
    <packages id="1082" key="4a1ff3f1-5087-4b66-ae98-a459873c3078" parentID="1074" level="2" creatorID="0" sortOrder="2" createDate="2018-05-19T20:32:27" updateDate="2018-05-19T20:36:43" nodeName="PACKAGES" urlName="packages" path="-1,1074,1082" isDoc="" nodeType="1075" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1054" nodeTypeAlias="packages" isPublished="true">
      <hideInNavigation>1</hideInNavigation>
    </packages>
    <bLOG id="1084" key="1ca18217-e0c5-4458-852d-8d24b313257d" parentID="1074" level="2" creatorID="0" sortOrder="4" createDate="2018-05-19T20:32:55" updateDate="2018-05-19T20:32:55" nodeName="BLOG" urlName="blog" path="-1,1074,1084" isDoc="" nodeType="1064" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1055" nodeTypeAlias="bLOG" isPublished="true">
      <blogItem id="1144" key="25d21ccd-82bc-473b-ae33-b87456c41fbb" parentID="1084" level="3" creatorID="0" sortOrder="0" createDate="2018-05-19T20:52:39" updateDate="2018-05-20T14:12:08" nodeName="HOW TO APPLY COLOURS CONFIDENTLY USING OUR FOUR TOP TIPS WITH GUARANTEED RESULTS" urlName="how-to-apply-colours-confidently-using-our-four-top-tips-with-guaranteed-results" path="-1,1074,1084,1144" isDoc="" nodeType="1065" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1056" nodeTypeAlias="blogItem" isPublished="true">
        <description><![CDATA[<div class="entry-content content">
<div id="cs-content" class="cs-content">
<div id="x-section-1" class="x-section">
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>If you are a lover of colours like I am, then this post is for you. I always try to encourage my clients to follow their instincts (which in most cases can be buried deep down).</span></p>
<p><span>Refurbishing your home is a huge challenge – you have many rooms… you like so many colours but don’t want your home to look like a colour carnival! But in the same instance, you don’t want to play it safe with the same boring shades everywhere.</span></p>
<p><span>I’ll show you how to find the best colour solutions with these tips:</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<ol>
<li>
<h4>PICK YOUR THREE FAVOURITE COLOURS.</h4>
</li>
</ol>
<p><span>Designers always suggest picking three colours and then dividing them into ratios of 60-30-10. One is the main colour and other two are complimentary colours.</span></p>
<p><span>There is a theory of complimenting colours you can use, but I suggest not sticking to that. There is no set rule for colours to work together. What I do is try to balance the cold and warm tones rather than the colours.</span></p>
<ol start="2">
<li>
<h4>BUY SAMPLE TINS OF PAINT BEFORE GOING FOR THE FULL-SIZE TIN.</h4>
</li>
</ol>
<p><span>When you go paint shopping, you will suddenly realize that there are many shades of your favorite colour. This will probably raise the question of which one to pick. Buy a sample tin instead of the full-size tin (if some manufacturers don’t have sample sizes, rather go with a 1 litre tin instead).</span></p>
<p><span>I suggest getting as many shades as you can. The colour catalogue is very handy, but the colour printed on paper can have little resemblance to the real one and not always an accurate gauge.</span></p>
<ol start="3">
<li>
<h4>ASK YOUR DECORATOR TO APPLY ALL THE COLOURS ON THE WALL (OR WALLS).</h4>
</li>
</ol>
<p><span>Check how they match with the rest of the finishes: wooden floor, carpet, tiles, fabric samples etc. If you don’t want to try your paint colours on the freshly plastered walls, get some thick cardboard (30cm x 30cm at least) from Rayman and paint them.</span></p>
<ol start="4">
<li>
<h4>APPLY COLOURS CAUTIOUSLY IF YOUR HOUSE IS OLD.</h4>
</li>
</ol>
<p><span>When refurbishing an old house or a flat in an old building, please bear in mind that walls edges and corners are not always straight. If that is the case I suggest using an off-white colour on the walls with windows and doors. You can use any beige or grey as well if you apply them on the wall, as well as windows and doors.</span></p>
<p><span>Bold colours will only amplify all the unperfect lines. If you still want a bold colour, find a feature wall in your room and paint it differently from other neutral walls.</span></p>
<p> </p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<div class="x-container max width"></div>
</div>
</div>
</div>
<div class="x-container max width"></div>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" alt="" /></div>
<div class="x-column x-sm x-1-2"> </div>
</div>
</div>
</div>
</div>]]></description>
        <thumbnail><![CDATA[umb://media/2faf969234a4406dbc3bb57635f71ef3]]></thumbnail>
        <subjectMatter><![CDATA[HOW TO APPLY COLOURS CONFIDENTLY USING OUR FOUR TOP TIPS WITH GUARANTEED RESULTS]]></subjectMatter>
        <blogHot>1</blogHot>
      </blogItem>
      <blogItem id="1147" key="5fc9b9da-52ca-4c5e-a4f8-0c88447c41d4" parentID="1084" level="3" creatorID="0" sortOrder="1" createDate="2018-05-19T20:53:37" updateDate="2018-05-20T14:12:28" nodeName="HAVE YOU DECIDED TO HIRE A BUILDER? IF SO, ANSWER THIS QUESTION BEFORE GETTING THE QUOTE." urlName="have-you-decided-to-hire-a-builder-if-so-answer-this-question-before-getting-the-quote" path="-1,1074,1084,1147" isDoc="" nodeType="1065" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1056" nodeTypeAlias="blogItem" isPublished="true">
        <description><![CDATA[<div class="entry-content content">
<div id="cs-content" class="cs-content">
<div id="x-section-1" class="x-section">
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>I once read a book called “Entrepreneurial myth” by Michael E. Gerber . The author was investigating the reasons why 80% of small businesses stop operating within 3-5 years and only 20% have successfully grown from small to medium sized companies.</span></p>
<p> </p>
<p><span>He said if you have the ambition to grow a successful big company, you will need to change your mindset and act as though you already have the  big company. Split responsibilities and tasks by creating job positions like they are in a corporation: Chief Executive Officer, Vice President of Marketing, Vice President of Operations, Vice President of Finance and everyone reporting them.  </span></p>
<p> </p>
<p><span>But when you work alone you have to cover all the above positions, if there are two of you split them in half and you both will have your independent field of responsibilities. If you are more than two, split the positions between the number of the staff members.</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>Why is that? Because you aim for success, don’t you?</span></p>
<p><span>The same applies to interior design.</span></p>
<p><span>Every small interior design project, claiming to be successful should be:</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-4">
<h6 class="h-feature-headline h5"><span>CONSIDERED</span></h6>
</div>
<div class="x-column x-sm x-1-4">
<h6 class="h-feature-headline h5"><span>APPROACHED</span></h6>
</div>
<div class="x-column x-sm x-1-4">
<h6 class="h-feature-headline h5"><span>IMPLEMENTED</span></h6>
</div>
<div class="x-column x-sm x-1-4">
<h6 class="h-feature-headline h5"><span>AS LARGE</span></h6>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p> </p>
<p><span>So, do you really want your project to be successful?</span></p>
<p><span>Every large interior design project has two professionals on board: an Interior Designer and a Builder. Sometimes an Architect is involved, but we are talking about interior refurbishment only without major structural improvement.  If you act alone make sure you act as a client and Interior Designer at the same time.</span></p>
<p><span>Then here are some of the steps to follow for a large interior design project:</span></p>
<p><span>Client’s responsibilities:</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<ol>
<li>Set the task</li>
<li>Decide whether you need a professional to help you</li>
<li>Decide what you are going to change or replace i.e.:
<ul>
<li>Doors</li>
<li>Radiators</li>
<li>Sockets</li>
<li>Switches</li>
<li>Lights</li>
<li>Floors</li>
<li>Wall covering</li>
<li>Bathroom sanitary ware, tiles and fittings…etc.</li>
</ul>
</li>
</ol>
<p><span>Interior Designer’s responsibilities:</span></p>
<ol>
<li>Find new finishes for the replacement.</li>
<li>Calculate the cost of all the finishes.</li>
<li>Make sure the total budget is something you are willing to spend.</li>
<li>Are you happy with all your choices? You must prepare a detailed scope of the work.</li>
<li>Scope of work (or Room description, which you can<strong><em><span> <a href="https://krikla.com/wp-content/uploads/2018/04/KRIKLA-Room-description-template.pdf">download here.</a></span></em></strong>) is a document you send to the builder in order to obtain the quote. The more detailed your Room Description is the more accurate is the quote will be from your builder.
<div class="x-container max width"></div>
</li>
</ol>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>And if you really would like your interior design project to be successful, please don’t start by calling your builder. Make sure you are well prepared.</span></p>
<p> </p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
<div class="x-container max width"></div>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" alt="" /></div>
<div class="x-column x-sm x-1-2"> </div>
</div>
</div>
</div>
</div>]]></description>
        <thumbnail><![CDATA[umb://media/fc588a1e618549cea9db1b85e52e778e]]></thumbnail>
        <subjectMatter><![CDATA[HAVE YOU DECIDED TO HIRE A BUILDER? IF SO, ANSWER THIS QUESTION BEFORE GETTING THE QUOTE.]]></subjectMatter>
        <blogHot>1</blogHot>
      </blogItem>
      <blogItem id="1150" key="36f18042-37bc-401a-af5b-fc1370dea13a" parentID="1084" level="3" creatorID="0" sortOrder="2" createDate="2018-05-19T20:54:35" updateDate="2018-05-20T14:12:58" nodeName="HOW TO CUT COSTS WHEN HIRING AN INTERIOR DESIGNER AND NOT DISAPPOINT THEM?" urlName="how-to-cut-costs-when-hiring-an-interior-designer-and-not-disappoint-them" path="-1,1074,1084,1150" isDoc="" nodeType="1065" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1056" nodeTypeAlias="blogItem" isPublished="true">
        <description><![CDATA[<div class="entry-content content">
<div id="cs-content" class="cs-content">
<div id="x-section-1" class="x-section">
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>To save – is a natural desire. We all love a good bargain and getting discounts on our purchases. We wait until the season ends to buy our favorite item for half price</span></p>
<p><span>So, when it comes to hiring an Interior Designer, is there a way to save costs? Let’s admit, we want the advice on our approaching refurbishment project, but don’t want to pay high fees that go with hiring a professional.</span></p>
<p><span>Let’s have a look at what the Interior Designer does and decide whether you can replace the professional in some areas of the project.</span></p>
</div>
<hr class="x-gap" /></div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2">
<div class="x-text">
<h4><span><em>INTERIOR DESIGNER</em></span></h4>
</div>
</div>
<div class="x-column x-sm x-1-2">
<div class="x-text">
<h4><span><em>YOU</em></span></h4>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2">
<div class="x-text">
<ul>
<li>An Interior Designer is responsible for a full service from taking measurements to final touches.</li>
</ul>
</div>
</div>
<div class="x-column x-sm x-1-2">
<div class="x-text">
<ul>
<li>I am sure you can measure your home with this<span> </span><a rel="noopener" href="https://youtu.be/Ga1HSsSpIyo" target="_blank"><span><em><strong>easy guide.</strong></em></span></a></li>
</ul>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2">
<div class="x-text">
<ul>
<li>You have a scheduled number of personal meetings with your Designer throughout the project.</li>
</ul>
</div>
</div>
<div class="x-column x-sm x-1-2">
<div class="x-text">
<ul>
<li>Ask your designer to order all the samples to your home address and then discuss it on Skype. Have a meeting in case something remains unclear.</li>
</ul>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2">
<div class="x-text">
<ul>
<li>Accompanied showrooms visits.</li>
</ul>
</div>
</div>
<div class="x-column x-sm x-1-2">
<div class="x-text">
<ul>
<li>Have a list of showroom items you need to see, prepared by your designer, so you can visit by yourself.</li>
</ul>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1"><hr class="x-gap" />
<div class="x-text">
<p><span>However, there are some areas that will need to be done by a professional only, like:</span></p>
<ul>
<li><em>Mood Boards</em></li>
<li><em>2D layouts (Building plan, Furniture, Electricity, and Light)</em></li>
<li><em>Sample Boards</em></li>
<li><em>3D visualization</em></li>
<li><em>Shopping list</em></li>
</ul>
<p> </p>
<p><span>There is also a way to save here if you are able to provide you Interior Designer with a number of images of your preferred style, furniture, materials etc.</span></p>
<p><span>Remember, the more information you give them, the less time on the project.</span></p>
<p> </p>
<p><span>Another tip is trying to fit in 2 revisions of each documents, if you really want to save on those professional services.</span></p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" alt="" /></div>
<div class="x-column x-sm x-1-2"> </div>
</div>
</div>
</div>
</div>]]></description>
        <thumbnail><![CDATA[umb://media/a5713e6511d848bf925a57abfb267a8a]]></thumbnail>
        <subjectMatter><![CDATA[HOW TO CUT COSTS WHEN HIRING AN INTERIOR DESIGNER AND NOT DISAPPOINT THEM?]]></subjectMatter>
        <blogHot>1</blogHot>
      </blogItem>
      <blogItem id="1153" key="2ad21d0e-4cdc-444c-8239-db3f2b551bfd" parentID="1084" level="3" creatorID="0" sortOrder="3" createDate="2018-05-19T20:55:50" updateDate="2018-05-20T14:13:09" nodeName="AN INTERIOR DESIGNER’S TRICK TO BETTER THE WORKING RELATIONSHIP BETWEEN CLIENT AND BUILDER." urlName="an-interior-designer-s-trick-to-better-the-working-relationship-between-client-and-builder" path="-1,1074,1084,1153" isDoc="" nodeType="1065" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1056" nodeTypeAlias="blogItem" isPublished="true">
        <description><![CDATA[<div class="entry-content content">
<p><span>So this was my conversation with a fellow builder:</span></p>
<p>Builder:<em><span> I don’t understand how clients want to just strip down the whole house when I come for their inspection. They request a full comprehensive quote will all the bells and whistles. But when it comes to approving it, they decide to simply touch up and hire a local painter instead! It feels like such a waste of time.</span></em></p>
<p>Me:<span> </span><em><span>This is, unfortunately, a pretty common occurrence and I know the reason why. People generally have no clue as to what a construction project costs. They dream of refurbishing their home but actually have no intention right now. So when they ask you to quote they haven’t really made up their mind yet. They just want to understand how much they can actually afford it.</span></em></p>
<p>Builder:<span> </span><em><span>How can we better this situation?</span></em></p>
<p>Me:<span> </span><em><span>The good thing is that there is a solution. If there is no one to develop the initial negotiation stage between you and the client, I would suggest both of you using one useful tool.</span></em></p>
<p>Builder:<span> </span><span><em>What do you mean?</em></span></p>
<p>Me:<span> </span><span><em>I can imagine how much of a complicated job it is to arrange these visits and then processing all the quotes for it. So instead of that, we use one magical document to solve it all…I call it my “Room Description”.</em></span></p>
<p><span>Anyone wishing to refurbish their home and unable to judge the affordability to do all this can just fill the form once. Yes, it will require you do a bit of homework, but then you are done.</span><br /><span>Send this form to as many builders as you wish to check out the prices. No more visits need to be arranged. If your quote is too high, just eliminate the jobs which are not a priority for you and try to fit the rest into your budget.</span></p>
<p><span>Oh, by the way, here is the <em><strong><a href="https://krikla.com/wp-content/uploads/2018/04/KRIKLA-Room-description-template.pdf">KRIKLA – Room description template</a></strong></em></span></p>
<p><span>And don’t forget to add the area of each room.</span></p>
<p> </p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
<p><a href="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" class="boxersandswipers cboxElement"><img class="alignnone size-medium wp-image-5647" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-300x60.png" alt="" width="300" height="60" /></a></p>
</div>]]></description>
        <thumbnail><![CDATA[umb://media/01d14204ca884a948c202698a79c7560]]></thumbnail>
        <subjectMatter><![CDATA[AN INTERIOR DESIGNER’S TRICK TO BETTER THE WORKING RELATIONSHIP BETWEEN CLIENT AND BUILDER.]]></subjectMatter>
        <blogHot>0</blogHot>
      </blogItem>
      <blogItem id="1156" key="af512218-c0a1-4618-a9c9-25218d82427a" parentID="1084" level="3" creatorID="0" sortOrder="4" createDate="2018-05-19T20:56:47" updateDate="2018-05-20T14:13:20" nodeName="HOW TO ENSURE YOUR INTERIOR PROJECT IS A SUCCESS" urlName="how-to-ensure-your-interior-project-is-a-success" path="-1,1074,1084,1156" isDoc="" nodeType="1065" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1056" nodeTypeAlias="blogItem" isPublished="true">
        <description><![CDATA[<div class="entry-content content">
<div id="cs-content" class="cs-content">
<div id="x-section-1" class="x-section">
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>We can all agree that any home improvement project is:</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2">
<div class="x-text">
<ul>
<li><span>Hard work</span></li>
<li><span>Inconvenience for your family &amp; work life</span></li>
<li><span>Time-consuming</span></li>
</ul>
</div>
</div>
<div class="x-column x-sm x-1-2">
<div class="x-text">
<ul>
<li><span>Stress and frustration</span></li>
<li><span>Uncertainty about the final result</span></li>
<li><span>Overhead expenses</span></li>
</ul>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p> </p>
<p><span>Especially, if you are doing everything yourself!</span></p>
<p> </p>
<p><span>Frankly, going it alone is kind of risky…</span></p>
<p><span>Imagine having a clear plan in your head and being supported by likeminded people. Feeling the whole process depends on good teamwork, where every single team member has their role to play.</span></p>
<p><span>That support system can be the difference between success and failure.</span></p>
<p><span>As can having a proven path to follow, that eliminates the guesswork about what you should (and should NOT) be focusing on as you go through the journey of planning, creating and implementing.</span></p>
<p><span>If you have ever planned a holiday trip, a big party for your friends and family (like a wedding for example) or your kids activities, you probably have enough experience and skills to accomplish one more exciting task.</span></p>
<p><span>But before embarking on any journey, always check that you are well equipped.</span></p>
<h4><span>ASK YOURSELF:</span></h4>
<ul>
<li><span>What is your goal?</span></li>
<li><span>What is your plan?</span></li>
<li><span>Who is your team?</span></li>
<li><span>What are your tools?</span></li>
</ul>
<p> </p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" alt="" /></div>
<div class="x-column x-sm x-1-2"> </div>
</div>
</div>
</div>
</div>]]></description>
        <thumbnail><![CDATA[umb://media/10244dcd3b8d4e15b8cb771a8a472cd4]]></thumbnail>
        <subjectMatter><![CDATA[HOW TO ENSURE YOUR INTERIOR PROJECT IS A SUCCESS]]></subjectMatter>
        <blogHot>0</blogHot>
      </blogItem>
    </bLOG>
    <cONTACTS id="1085" key="5468057f-cf75-40a5-afc9-8e5f1db1c595" parentID="1074" level="2" creatorID="0" sortOrder="5" createDate="2018-05-19T20:33:09" updateDate="2018-05-19T20:33:09" nodeName="CONTACTS" urlName="contacts" path="-1,1074,1085" isDoc="" nodeType="1062" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1057" nodeTypeAlias="cONTACTS" isPublished="true">
      <potential_Customer id="1157" key="fc046a69-19a9-40c4-a68e-0750505e76e8" parentID="1085" level="3" creatorID="0" sortOrder="0" createDate="2018-05-20T09:32:26" updateDate="2018-05-20T09:32:26" nodeName="PhatNguyen" urlName="phatnguyen" path="-1,1074,1085,1157" isDoc="" nodeType="1072" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="0" nodeTypeAlias="potential_Customer" isPublished="true">
        <message><![CDATA[asdasdad]]></message>
        <email_customer><![CDATA[tanphat2k4@gmail.com]]></email_customer>
        <subject><![CDATA[dsdsa]]></subject>
        <name_customer><![CDATA[PhatNguyen]]></name_customer>
      </potential_Customer>
      <potential_Customer id="1158" key="d78c12d0-1af8-41ab-8c32-93b15440625c" parentID="1085" level="3" creatorID="0" sortOrder="1" createDate="2018-05-20T11:15:29" updateDate="2018-05-20T11:15:29" nodeName="sdads" urlName="sdads" path="-1,1074,1085,1158" isDoc="" nodeType="1072" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="0" nodeTypeAlias="potential_Customer" isPublished="true">
        <message><![CDATA[asdsda]]></message>
        <email_customer><![CDATA[asd@gmail.com]]></email_customer>
        <subject><![CDATA[asda]]></subject>
        <name_customer><![CDATA[sdads]]></name_customer>
      </potential_Customer>
      <potential_Customer id="1159" key="d399334d-280d-4cf7-a213-044abe594e30" parentID="1085" level="3" creatorID="0" sortOrder="2" createDate="2018-05-20T12:09:17" updateDate="2018-05-20T12:09:17" nodeName="asda" urlName="asda" path="-1,1074,1085,1159" isDoc="" nodeType="1072" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="0" nodeTypeAlias="potential_Customer" isPublished="true">
        <message><![CDATA[asdsdasds]]></message>
        <email_customer><![CDATA[asdsd@gmail.com]]></email_customer>
        <subject><![CDATA[sdasd]]></subject>
        <name_customer><![CDATA[asda]]></name_customer>
      </potential_Customer>
      <potential_Customer id="1160" key="f0c6f48c-604f-4202-b587-3c0c6678b3e4" parentID="1085" level="3" creatorID="0" sortOrder="3" createDate="2018-05-20T14:04:06" updateDate="2018-05-20T14:04:06" nodeName="dasdasd" urlName="dasdasd" path="-1,1074,1085,1160" isDoc="" nodeType="1072" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="0" nodeTypeAlias="potential_Customer" isPublished="true">
        <message><![CDATA[sdadas]]></message>
        <email_customer><![CDATA[fdfdf@gmail.com]]></email_customer>
        <subject><![CDATA[sdada]]></subject>
        <name_customer><![CDATA[dasdasd]]></name_customer>
      </potential_Customer>
    </cONTACTS>
    <improvePacketForm id="1086" key="cc669e80-1751-4045-bc8d-35290ba7f37c" parentID="1074" level="2" creatorID="0" sortOrder="6" createDate="2018-05-19T20:33:23" updateDate="2018-05-19T20:38:23" nodeName="improve" urlName="improve" path="-1,1074,1086" isDoc="" nodeType="1067" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1058" nodeTypeAlias="improvePacketForm" isPublished="true">
      <hideInNavigation>1</hideInNavigation>
    </improvePacketForm>
    <portfolio id="1166" key="8cb06132-2089-412d-a3ba-719654afe632" parentID="1074" level="2" creatorID="0" sortOrder="7" createDate="2018-05-20T14:46:28" updateDate="2018-05-20T14:59:26" nodeName="PORTFOLIO" urlName="portfolio" path="-1,1074,1166" isDoc="" nodeType="1164" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1163" nodeTypeAlias="portfolio" isPublished="true">
      <hideInNavigation>1</hideInNavigation>
      <portfolio_item id="1167" key="8950eda5-88c0-45d2-93b6-ee12aee092d9" parentID="1166" level="3" creatorID="0" sortOrder="0" createDate="2018-05-20T14:47:32" updateDate="2018-05-20T14:47:32" nodeName="“IMPROVE” PACKAGE. BOY’S BEDROOM. BUDGET £1,900" urlName="improve-package-boy-s-bedroom-budget-1-900" path="-1,1074,1166,1167" isDoc="" nodeType="1165" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1059" nodeTypeAlias="portfolio_item" isPublished="true">
        <hideInNavigation>0</hideInNavigation>
        <thumbnail><![CDATA[umb://media/c09ee5fae0fe4d64b40b8d2a9b8ce2f3]]></thumbnail>
        <images><![CDATA[umb://media/c09ee5fae0fe4d64b40b8d2a9b8ce2f3,umb://media/09c289cb9f8f40b48c787816afa837c1,umb://media/7dce77d34f7f44f896c6f0fcdf64dfcc,umb://media/85c51d51ff03408c84d161170b2de6d5,umb://media/7164d51cca454f1ebf06932d9ca15c91,umb://media/d8cf6a687fc446e0952c1d79cf465895,umb://media/4f5c736b206f4466803420b55f710995,umb://media/4fd4e447fef7417a8b61171af2632383,umb://media/6dabeb4ad39a4fd3b42f0f159ba59f71,umb://media/42bc8f098c904214bfdb665c845a6dfe,umb://media/eea4650ec20c4ef481f3860b708112de,umb://media/c554d6f2504b47a1b3e4336426cc9f86]]></images>
        <choose>1</choose>
      </portfolio_item>
      <portfolio_item id="1168" key="22c020d1-4826-4895-b1d3-58734b38ed21" parentID="1166" level="3" creatorID="0" sortOrder="1" createDate="2018-05-20T15:03:24" updateDate="2018-05-20T15:14:23" nodeName="“IMPROVE” PACKAGE. BATHROOM. BUDGET £ 2,300" urlName="improve-package-bathroom-budget-2-300" path="-1,1074,1166,1168" isDoc="" nodeType="1165" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1059" nodeTypeAlias="portfolio_item" isPublished="true">
        <hideInNavigation>0</hideInNavigation>
        <thumbnail><![CDATA[umb://media/b08269148e484d8ea050ada53a8dfa02]]></thumbnail>
        <images><![CDATA[umb://media/b08269148e484d8ea050ada53a8dfa02,umb://media/759f94c12f564a39a422292d311c684e,umb://media/8a6beb41a23649b2ba0668480d42f62e,umb://media/ce59136b05ce40c2965caad6b60acc63,umb://media/093b985abd1845b4994faf5bf9bd9abe,umb://media/3f674f41a6ad4c3399c0092b2617452a,umb://media/72e0edd071214cc9916b3a51d9a8ca1b]]></images>
        <choose>1</choose>
      </portfolio_item>
      <portfolio_item id="1169" key="e3f04ba9-c075-46ee-8007-561511ba2b67" parentID="1166" level="3" creatorID="0" sortOrder="2" createDate="2018-05-20T15:04:08" updateDate="2018-05-20T15:14:33" nodeName="“FURNISH” PACKAGE. THREE BEDROOM HOUSE. BUDGET £17,000" urlName="furnish-package-three-bedroom-house-budget-17-000" path="-1,1074,1166,1169" isDoc="" nodeType="1165" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1059" nodeTypeAlias="portfolio_item" isPublished="true">
        <hideInNavigation>0</hideInNavigation>
        <thumbnail><![CDATA[umb://media/22fedc5861c3480ab9b56ef422213d91]]></thumbnail>
        <images><![CDATA[umb://media/462035d526c54bf491080507b8c9ce71]]></images>
        <choose>1</choose>
      </portfolio_item>
      <portfolio_item id="1170" key="fb6f304a-8328-417c-8d26-1004fcf5c979" parentID="1166" level="3" creatorID="0" sortOrder="3" createDate="2018-05-20T15:04:55" updateDate="2018-05-20T15:14:41" nodeName="“FURNISH” PACKAGE. ONE BEDROOM FLAT. BUDGET £10,000" urlName="furnish-package-one-bedroom-flat-budget-10-000" path="-1,1074,1166,1170" isDoc="" nodeType="1165" creatorName="PhatNguyen" writerName="PhatNguyen" writerID="0" template="1059" nodeTypeAlias="portfolio_item" isPublished="true">
        <hideInNavigation>0</hideInNavigation>
        <thumbnail><![CDATA[umb://media/a14da4420ab84e8e997b512edb2b658d]]></thumbnail>
        <images><![CDATA[umb://media/12616a8c30614df3a452bd22e6788ac7]]></images>
        <choose>1</choose>
      </portfolio_item>
    </portfolio>
  </home>
</root>